.feedContainer {
  width: 50%;
  max-width: 400px;
  margin: auto;
}

.sortsContainer {
  margin: 10px 15px 15px 0;
  text-align: end;
}

.card {
  margin: 20px 0;
}

.newCardBtn {
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 30px;
}