@import '../assets/styles/baseVariables.scss';

$action-button-size: 30px;

@mixin cardContainerPadding($vertical, $horizontal: $vertical) {
    padding: $vertical $horizontal;
}

.cardContainer {
    @include cardContainerPadding(20px, 30px);

    border: 2px solid #000;
    border-radius: 20px;

    text-align: center;
}

@mixin checkSetFontSize($fontSize) {
    @if $fontSize != 0 {
        font-size: $fontSize;
    }
}

@mixin titleFont($fontSize: 0) {
    @include checkSetFontSize($fontSize);

    font-weight: bold;
    font-style: normal;
}

.title {
    @include titleFont();
}

@mixin descriptionFont($fontSize: 0) {
    @include checkSetFontSize($fontSize);

    font-weight: normal;
    font-style: normal;
}

.description {
    @include descriptionFont();

    margin-top: 30px;
}

.footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.likesAmt {
    font-size: 1.2rem;
    vertical-align: middle;
}

.likeBtn {
    display: inline-block;
    width: $action-button-size;
    height: $action-button-size;
    margin-left: 8px;
    vertical-align: middle;

    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.likeBtnImg {
    width: 100%;
    vertical-align: middle;
}

.likeBtnLiked {
    animation: likeAnim 200ms;
}

@keyframes likeAnim {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}


.commentBtn {
    display: inline-block;
    width: $action-button-size;
    height: $action-button-size;
    vertical-align: middle;

    padding: 3px;
    box-sizing: border-box;

    cursor: pointer;

    border-radius: 5px;
    background: transparent;
    transition: background-color 200ms;

    &.btnOpened {
        background-color: var(--primary-color-soft);
    }
}

.commentBtnImg {
    width: 100%;
    vertical-align: middle;
}

.commentsAmt {
    margin-left: 8px;
    font-size: 1.2rem;
    vertical-align: middle;
}

.separator {
    margin: 8px 0;
}