.cardContainer {
    padding: 20px 30px;
    border: 2px solid #000;
    border-radius: 20px;

    text-align: center;
}

.title {
    font-weight: bold;
}

.description {
    margin-top: 30px;
}

.footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.likesAmt {
    font-size: 1.2rem;
    vertical-align: middle;
}

.likeBtn {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 8px;
    vertical-align: middle;

    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.likeBtnImg {
    width: 100%;
    vertical-align: middle;
}

.likeBtnLiked {
    animation: likeAnim 200ms;
}

@keyframes likeAnim {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}


.commentBtn {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;

    padding: 3px;
    box-sizing: border-box;

    cursor: pointer;

    border-radius: 5px;
    background: transparent;
    transition: background-color 200ms;
}

.commentBtnImg {
    width: 100%;
    vertical-align: middle;
}

.commentBtnOpened {
    background-color: #eee;
}

.commentsAmt {
    margin-left: 8px;
    font-size: 1.2rem;
    vertical-align: middle;
}

.separator {
    margin: 8px 0px;
}