.commentContainer {
    padding: 7px 10px;
    border: solid black 1px;
    border-radius: 10px;

    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 20px;
}

.commentContent {
    flex-grow: 1;
    text-align: start;
}

.separator {
    margin: 5px 0;
}

.deleteBtn {
    width: 15px;
    height: 15px;
    flex-grow: 0;
    flex-shrink: 0;
}

.deleteBtnImg {
    width: 100%;
}