@import '../assets/styles/baseVariables.scss';

.commentContainer {
    padding: 10px;
    border: solid black 1px;
    border-radius: 10px;

    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 20px;

    background: var(--primary-color);

    position: relative;
}

.commentContent {
    flex-grow: 1;
    text-align: start;
}

.separator {
    margin: 5px 0;
}

.deleteBtn {
    $delete-btn-size: 20px;

    width: $delete-btn-size;
    height: $delete-btn-size;
    padding: 3px;
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;

    cursor: pointer;
}

.deleteBtnImg {
    width: 100%;
}

.likesContainer {
    position: absolute;
    right: 8px;
    bottom: 0;
    transform: translateY(40%);
    padding: 0 4px;

    background-color: inherit;
}

.likesAmt {
    font-size: 0.7rem;
}

.likeBtn {
    width: 10px;
    height: 10px;
    margin-left: 4px;
    line-height: 0.7rem;
}