.app {
    text-align: center;
    padding: 1px;
}

.pageContainer {
    width: 50%;
    max-width: 400px;
    margin: auto;
}

.card {
    margin: 20px 0;
}

.newCardBtn {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 30px;
}