@import 'assets/styles/baseVariables';

.app {
    padding: 1px;
    text-align: center;
    color: var(--secondary-color);
}

.pageContainer {
    width: 50%;
    max-width: 400px;
    margin: auto;
}

.card {
    margin: 20px 0;
}

.newCardBtn {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 30px;
}