$borders-color: #000;

:root {
  --primary-color: #fff;
  --primary-color-soft: #f7f7f7;
  --secondary-color: #444;
  --secondary-color-dim: #777;
  --link-color: #00e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #444;
    --primary-color-soft: #555;
    --secondary-color: #fff;
    --secondary-color-dim: #999;
    --link-color: #e80;
  }
}